@use "sass:map";
@use "../global" as global;

.p-mv {
  background-color: global.$color-pale;
  padding-block-start: global.$header-height__sp;

  @include global.mq(md) {
    padding-block-start: global.$header-height__pc;
  }
}

.p-mv__inner {
  padding-block: 60px;
  padding-inline: 20px;
  max-width: 500px;
  margin-inline: auto;

  @include global.mq(md) {
    display: grid;
    grid-template-columns: 1fr calc(515 / 1440 * 100vw);
    grid-template-areas:
      "title image"
      "text  image"
      "btn   image";
    column-gap: calc(16 / 1440 * 100vw);
    padding-block-start: calc(117 / 1440 * 100vw);
    padding-block-end: calc(113 / 1440 * 100vw);
    padding-inline-start: calc(120 / 1440 * 100vw);
    padding-inline-end: calc(133 / 1440 * 100vw);
    grid-template-rows: auto auto 1fr;
    align-items: start;
    max-width: none;
  }
}

.p-mv__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  color: global.$color-dark;
  width: fit-content;
  margin-inline: auto;

  @include global.mq(md) {
    grid-area: title;
    font-size: calc(60 / 1440 * 100vw);
    line-height: normal;
  }
}

.p-mv__text {
  font-size: 16px;
  line-height: 1.6;
  color: global.$color-dark;
  margin-block-start: 16px;

  @include global.mq(md) {
    grid-area: text;
    font-size: calc(18 / 1440 * 100vw);
    line-height: 1.8;
    margin-block-start: calc(25 / 1440 * 100vw);
  }

  br {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.p-mv__image {
  width: 305px;
  margin-block-start: -25px;
  margin-inline-start: 10px;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  @include global.mq(md) {
    grid-area: image;
    width: 100%;
    margin-inline: 0;
    margin-block-start: calc(-84 / 1440 * 100vw);
  }
}

.p-mv__button-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  margin-block-start: -13px;

  @include global.mq(md) {
    grid-area: btn;
    flex-direction: row;
    gap: calc(37 / 1440 * 100vw);
    margin-block-start: calc(33 / 1440 * 100vw);
  }
}

.p-mv__button {
  padding-inline: 50px;

  @include global.mq(md) {
    font-size: calc(18 / 1440 * 100vw);
    padding-block: calc(15 / 1440 * 100vw);
    padding-inline: calc(24 / 1440 * 100vw);
    border-radius: calc(27 / 1440 * 100vw);
    margin: 0;
  }
}

.p-mv__button--white {
}
