@use "sass:map";
@use "../global" as global;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: global.$header-height__sp;
  z-index: 50;
  background: global.$color-white;
  @include global.mq(md) {
    height: global.$header-height__pc;
  }
}

.l-header__inner {
  padding-inline: 20px;
  display: grid;
  align-items: center;
  height: inherit;

  @include global.mq(md) {
    padding-inline: 120px 132px;
  }

  @media (min-width: 1000px) {
    grid-template-columns: auto 1fr;
  }
}
