// -----------------------------------------------
// Foundation
// -----------------------------------------------
body {
  font-size: $fz-base;
  font-weight: $fw-base;
  color: $text-color__black;
  background-color: $text-color__white;
  line-height: $lh-base;
  font-family: $ff-base__ja;
}

img {
  max-width: 100%;
  height: auto;
}

// -----------------------------------------------
// Layout
// -----------------------------------------------
.l-inner {
  max-width: $inner-width;
  margin: 0 auto;
  padding: 0 40px;
  @include mq(md) {
    padding: 0 20px;
  }
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-pc;
  z-index: 50;
  @include mq(md) {
    height: $header-height;
  }
}

.l-footer {
}
