// 色
$main-color: #004aad;
$accent-color: #fe0000;
$sub-color: #b1c6dc;
$bg-color: #f8f8f8;
$text-color__black: #333;
$text-color__white: #fff;

// フォント
$ff-base__ja: "Zen Kaku Gothic New", sans-serif;
$ff-base__en: "Kanit", sans-serif;
$fz-base: 16px;
$fw-base: 400;
$lh-base: 1.8;

// レイアウト
$inner-width: 1160px;

// ヘッダー
$header-height: 60px;
$header-height-pc: 80px;
